<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>8</string>
					<key>EndingLineNumber</key>
					<string>4</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>4</string>
					<key>Timestamp</key>
					<string>726819604.388211</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Views/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        </string>
				<key>leading</key>
				<string>struct ContentView: View {
    let tasks = [
</string>
				<key>trailing</key>
				<string>Event(eventName: "Eat breakfast", remainder: "Make sure to eat breakfast!", location: "Dining Room", notes: "Don't eat anything to oily", referenceImages: ["dining_table 1", "dining_table 1"], date: CreateDate(hour: 7, minute: 30)),
        Event(eventName: "Take breakfast meds", remainder: "Take your meds after breakfast", location: "Dining Room", notes: "Eat the meds marked 'morning'", referenceImages: ["medicine_box", "dining_table 1"], date: CreateDate(hour: 7, minute: 40)),
        Event(eventName: "Eat lunch", remainder: "Make sure to eat lunch", location: "Dining Table", notes: "Get a glass of water before sitting down in case you cough", referenceImages: ["dining_table 1", "dining_table 1"], date: CreateDate(hour: 14, minute: 30)),
</string>
			</dict>
			<key>title</key>
			<string>Error: Cannot use instance member 'CreateDate' within property initializer; property initializers run before 'self' is available</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
